<?xml version="1.0" encoding="UTF-8"?>
<web-app>

  <servlet>
    <servlet-name>ClickServlet</servlet-name>
    <servlet-class>org.apache.click.ClickServlet</servlet-class>
    <init-param>
       <param-name>type-converter-class</param-name>
       <param-value>telegony.dataaccess.converter.CustomTypeConverter</param-value>
    </init-param>
    
    <load-on-startup>0</load-on-startup>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>ClickServlet</servlet-name>
    <url-pattern>*.htm</url-pattern>
  </servlet-mapping>
  
  <welcome-file-list>
    <welcome-file>auth.htm</welcome-file>
  </welcome-file-list>
  
</web-app>  